fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
geoalchemy2==0.15.2
shapely==2.0.5
alembic==1.13.2
pydantic-settings==2.3.4
pydantic==2.8.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
httpx==0.27.0
earthengine-api==0.1.411
python-multipart==0.0.9
psycopg2-binary==2.9.9
apscheduler==3.10.4
reportlab==4.4.9
pillow==12.2.0
